
::selection { /* Safari */
    background-color: white;             
    color: #fff;
}
::-moz-selection {
	background: #0069D6; /* Firefox */
	color: #fff;
}


@import url(http://fonts.googleapis.com/css?family=Lato);
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	word-wrap: break-word;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
        font-weight: 300;
	font-size: 15px;

}
jobutton,
joview,
jolist,
jolistitem,
jomenu,
jomenuitem,
joexpando,
joexpandotitle,
jogroup,
jocard,
jostack,
jotitle,
jocaption,
jolabel,
jodivider,
joinput,
input,
textarea,
jotextarea,
jooption,
jooptionitem,
jonavbar,
jocontainer,
jotoggle,
joslider,
josliderthumb {
	display: block;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	/*-webkit-background-clip: padding-box;*/
	/*	background: transparent; */
}
/*
em, i, b, span, u, a, button, input {
	display: inline;
}
*/
.noflex {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
}
.flexible {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}
.flex {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	margin: 0;
	-moz-box-align: stretch;
	-o-box-align: stretch;
	box-align: stretch;
}
.listitem {
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	margin: 0;
	padding: 10px;
	cursor: pointer;
}
.widgety {
	color: rgba(255, 255, 255, 0.9);
	background-color: #c5c5c5;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
}
.shiny {
	color: rgba(255, 255, 255, 0.9);
	background-color: #c5c5c5;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.matte {
	color: rgba(255, 255, 255, 0.9);
	background-color: #c5c5c5;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
}
.stretch-full {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.widget {
	margin: 0px 10px 10px 10px;
}
*.selected, *.focus {
	/*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
	-o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);*/
}
.selected {
	background-color: #0069D6;
	color: #fffeff;
}
.focus {
	background-color: #fff;
}
jooptionitem:last-child {
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	border-right-width: 1px;
}
jobutton {
	display: block;
	text-align: center;
	color: #ffffff;  
	background-color: #0069D6;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid;
	border-color: #0069D6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*jobutton .focus {
	background-color: rgba(61,148,0,0.81);;
}*/
jooption {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	margin: 0;
	-moz-box-align: stretch;
	-o-box-align: stretch;
	box-align: stretch;
	margin: 0px 10px 10px 10px;
}
jooptionitem {
	color: #000;
	background-color: #e7e6e7;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid;
	border-color: #D2D2D2;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	text-align: center;
	border-right-width: 0;
	margin: 0;
}
jooptionitem:first-child {
	-webkit-border-radius: 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
jooptionitem:last-child {
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	border-right-width: 1px;
}
jobutton,
input,
jolabel,
textarea,
joexpando {
	margin: 0px 10px 10px 10px;
}
jotitle {
	background-color: #b8b8b8;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	background-image: none;
	text-align: center;
	padding: 10px;
	font-size: 120%;
	margin: 0;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #858585;
	border-top: 1px solid #d8d8d8;
	color: #3c3c3c;
}

*:focus {
	outline: none;
}
jolistitem, jomenuitem {
	margin: 0;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #D2D2D2;
}
jolistitem.selected, jomenuitem.selected {
	/*border-color: #333;*/
}
jomenuitem:last-child {
	border-bottom: 1px solid #D2D2D2;
}
jobutton.focus {
	background-color: #0069D6;
    opacity: 0.6;
	background-image: none;
}
joselect.focus {
	background-color: transparent;
}
jolist {
	margin: 0;
}
joselectlist, joexpandocontent {
	display: block;
	border: 1px solid #D2D2D2;
	border-top: none;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: rgba(255, 255, 255, 0.6);
}
joexpando {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0;
}
joexpando.open {
	margin-bottom: 10px;
}
joexpandocontent {
	padding-top: 10px;
}
joselectlist > *:last-child {
	border-bottom: none;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
joselectlist > *:last-child.select {
	border-bottom: none;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
joselectlist > *.first-child {
	border-top: none;
}
jocard > jolist, jocard > jomenu {
	margin: 0;
}
jobutton,
jotitle,
jooptionitem,
joexpandotitle,
jotoggle {
	/* text-shadow: 0 0 5px rgba(0, 0, 0, 0.6); */
}
joinput.password, input.password {
	-webkit-text-security: disc;
	-moz-text-security: disc;
	-o-text-security: disc;
	text-security: disc;
}
joinput,
jotextarea,
input,
textarea {
	cursor: text;
	display: block;
	border: 1px solid;
	border-color : #D2D2D2;
	border-radius: 3px;
	margin: 0 10px 10px 10px;
	padding: 9px;
	/*background: #e7e6e7;*/
    background: #F1F1F1;
	white-space: nowrap;
	overflow: hidden;
	outline: none;
	font-size: 105%;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	font-family: 'Lato', sans-serif;
        font-weight: 300;
	font-size: 15px;
}
jolist, jomenu {
	font-size: 110%;
}
jotextarea, textarea {
	white-space: normal;
}
joinput.disabled,
jotextarea.disabled,
input.disabled,
textarea.disabled {
	color: #666;
	cursor: text;
}
joexpandotitle joicon {
	position: absolute;
	border: none;
	display: block;
	height: 32px;
	width: 32px;

	right: 4px;
	top: 10%;
	background: url(expando.png) no-repeat;
	-webkit-transform-origin: 16px 16px 0;
	-webkit-transform: rotatez(0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transform-origin: 16px 16px 0;
	-moz-transform: rotate(0);
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transform-origin: 16px 16px 0;
	-o-transform: rotate(0);
	-o-transition: -o-transform 0.2s ease-out;
	-ms-transform-origin: 16px 16px 0;
	-ms-transform: rotate(0);
	-ms-transition: -ms-transform 0.2s ease-out;
	-webkit-background-size: 32px 32px;
	-webkit-background-size: 24px 24px;
}
joexpando.open > joexpandotitle joicon {
	-webkit-transform: rotatez(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
joexpando > *:last-child {
	height: 0;
	overflow: hidden;
	opacity: 0;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-transform-style: preserve- 3 d;
	-webkit-transform: rotatex(-45deg);
	-webkit-transform-origin: 0 0 0;
	-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out, height 0.2s ease-out, overflow 0.2s ease-out;
	-moz-transform-style: preserve- 3 d;
	-moz-transform: rotatex(-45deg);
	-moz-transform-origin: 0 0 0;
	-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out, height 0.2s ease-out, overflow 0.2s ease-out;
	-o-transform-style: preserve- 3 d;
	-o-transform: rotatex(-45deg);
	-o-transform-origin: 0 0 0;
	-o-transform: scaley(1);
	-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out, height 0.2s ease-out, overflow 0.2s ease-out;
	-ms-transform-style: preserve- 3 d;
	-ms-transform: rotatex(-45deg);
	-ms-transform-origin: 0 0 0;
	-ms-transform: scaley(1);
	-ms-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out, height 0.2s ease-out, overflow 0.2s ease-out;
}
joexpando.open > *:last-child {
	height: 100%;
	overflow: visible;
	opacity: 1;
	-webkit-transform: rotatex(0);
	-moz-transform: rotatex(0);
	-o-transform: rotatex(0);
	-ms-transform: rotatex(0);
}
joexpando > *:first-child {
	-webkit-transform: none;
	opacity: 1;
	overflow: visible;
	height: auto;
}
joexpandotitle {
	color: #000;
	position: relative;
	background-color: #e7e6e7;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid;
	border-color : #D2D2D2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
	text-align: left;
}
joexpando.open > *:first-child {
	background-color: #e7e6e7;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	color: #000;
}
jolabel, label {
	margin-bottom: 5px;
}
jocaption {
	margin: 10px;
}
johtml {
	display: block;
	margin: 0 10px 10px 10px;
	padding: 0;
}
jodivider {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin: 0 0 10px 0;
	text-align: center;
	height: 0;
	display: block;
}
joflexrow > jotoggle {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
}
jotoggle {
	cursor: pointer;
	display: block;
	margin: 10px 10px 0 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-color: #D2D2D2;
	padding: 1px;
	
	background-color: inherit;
	position: relative;
	overflow: hidden;
	width: 90px;
}
jotoggle > * {
	margin: 0px 10px 10px 10px;
	color: #000;
	background-color: #F1F1F1;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid;
	border-color: #D2D2D2;
	
	margin: 0;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 0;
	width: 60px;
	
	-webkit-transform: translatex(0);
	-moz-transform: translatex(0);
	-o-transform: translatex(0);
	-ms-transform: translatex(0);
	
	-webkit-animation-fill-mode: forwards;
	
	-webkit-transition: -webkit-transform 2s ease !important;
	-moz-transition: -moz-transform 0.2s ease, background-color 0.2s ease;
	-o-transition: -o-transform 0.2s ease, background-color 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease, background-color 0.2s ease;
}
jotoggle.on {
  background-color: inherit;
}
jotoggle.on > * {
	color: #fff;
	background-color: #0069D6;
	border-color: #0069D6;
	-webkit-transform: translatex(28px);
	-moz-transform: translatex(26px);
	-o-transform: translatex(26px);
	-ms-transform: translatex(26px);
	-webkit-transition: -webkit-transform 2s ease;
	-moz-transition: -moz-transform 0.2s ease, background-color 0.2s ease;
	-o-transition: -o-transform 0.2s ease, background-color 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease, background-color 0.2s ease;
}
jotable {
	display: block;
	margin: 0 10px;
}
tr {
	margin: 0;
}
th {
	text-align: left;
	padding: 5px;
}
td {
	padding: 5px;
}
jolabel.left {
	margin-top: 10px;
	padding: 9px 0;
}
.disabled {
	opacity: .2;
}
jotoolbar {
	padding: 10px;
}
josliderthumb {
	position: absolute;
	height: 18px;
	width: 40px;
	color: rgba(255, 255, 255, 0.9);
	background-color: #0069D6;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	border: 1px solid;
	border-color: #0069D6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
joslider {
	margin: 10px;
	position: relative;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-color: #D2D2D2;
	background-color: #E7E6E7;
}
joflexrow {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	margin: 0;
	-moz-box-align: stretch;
	-o-box-align: stretch;
	box-align: stretch;
	width: 100%;
}
joflexrow > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	margin-right: 0;
	position: relative;
}
joflexrow > *:last-child {
	margin-right: 10px;
}
joflexcol {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	margin: 0;
	-moz-box-align: stretch;
	-o-box-align: stretch;
	box-align: stretch;
	height: 100%;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	-o-box-orient: vertical;
	-o-box-align: stretch;
	box-orient: vertical;
	box-align: stretch;
	margin: 0;
}
joflexcol > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}
jotitle + joflexcol, jotitle + joflexrow {
	margin-top: 10px;
}
jostack {
	height: 100%;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
}
jostack > * {
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 50% 100% 0;
	-webkit-transform: rotatez(0) translatez(0) translatex(0) translatey(0);
	-webkit-transition: -webkit-transform 0.3s ease-out, z-index 0.3s ease-out, height 0s ease, overflow 0s ease;
	-moz-transform-origin: 50% 100% 0;
	-moz-transform: rotatez(0) translatez(0);
	-moz-transition: -moz-transform 0.3s ease-out, z-index 0.3s ease-out, height 0s ease, overflow 0s ease;
	z-index: 0;
	-o-transform-origin: 50% 100% 0;
	-o-transform: rotatez(0);
	-o-transition: -o-transform 0.3s ease-out;
	-ms-transform-origin: 50% 100% 0;
	-ms-transform: rotatez(0);
	-ms-transition: -ms-transform 0.3s ease-out;
	position: absolute;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
jobutton {
	/* background-repeat: repeat-x; */
}
jocard {
	width: 100%;
	min-height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	padding: 0;
	margin: 0;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	-o-box-orient: vertical;
	-o-box-align: stretch;
	box-orient: vertical;
	box-align: stretch;
	/*background-color: #F1F1F1;*/
    background-color: #FFFFFF;
}
jocard > * {
	/* display: block; */
}
jocard > *:last-child {
	margin-bottom: 10px;
}
joscroller {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translatey(0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
}
joscroller > * {
	position: absolute;
	top: 0;
	-webkit-animation-fill-mode: forwards;
	-webkit-transition: -webkit-transform 0s ease;
	-moz-animation-fill-mode: forwards;
	-moz-transition: -moz-transform 0s ease;
	-o-animation-fill-mode: forwards;
	-o-transition: -o-transform 0s ease;
	-ms-animation-fill-mode: forwards;
	-ms-transition: -ms-transform 0s ease;
}
.flick {
	-webkit-transition: -webkit-transform 1.8s cubic-bezier(0, 0.2, 0, 1);
	-moz-transition: -moz-transform 1.8s cubic-bezier(0, 0.2, 0, 1);
	-o-transition: -o-transform 1.8s cubic-bezier(0, 0.2, 0, 1);
	-ms-transition: -ms-transform 1.8s cubic-bezier(0, 0.2, 0, 1);
}
.flickback {
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.4, 1);
	-moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.4, 1);
	-o-transition: -o-transform 0.2s cubic-bezier(0, 0, 0.4, 1);
	-ms-transition: -o-transform 0.2s cubic-bezier(0, 0, 0.4, 1);
}
.flickfast {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.2, 0, 1);
	-moz-transition: -moz-transform 0.6s cubic-bezier(0, 0.2, 0, 1);
	-o-transition: -o-transform 0.6s cubic-bezier(0, 0.2, 0, 1);
}
jocontainer {
	margin: 0;
	display: block;
	position: relative;
}
jogroup {
	margin: 10px;
	padding: 10px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*background: #F1F1F1 none repeat-x;*/
    background: #FFFFFF none repeat-x;
	border: 1px solid #D2D2D2;
}
jogroup > *.last-child {
	margin-bottom: 0;
}
jofooter {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-webkit-box-pack: end;
	-moz-box-flex: 1;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	-moz-box-pack: end;
	box-flex: 1;
	box-orient: vertical;
	box-align: stretch;
	box-pack: end;
	margin: 0;
}
jofooter > * {
	-webkit-box-align: end;
	-moz-box-align: end;
	-o-box-align: end;
	box-align: end;
}


joshim {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background:rgba(147,147,147, 0.8);
	-webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	-ms-transition: opacity .2s ease;
}
joshim.show {
	display: block;
	opacity: 1;
}


jotoolbar {
	border-top: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px 0;
	color: black;
	background-color: white;
	font-weight: normal;
	cursor: pointer;
	outline: none;
	outline-color: transparent;
	padding: 10px 0;
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0.8;

}
jotoolbar jobutton {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
jopopup {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F1F1F1;
	color: #000;
	-webkit-transition: -webkit-transform 0.4s ease-in, opacity 0.4s ease-in;
	-moz-transition: -moz-transform 0.4s ease-in, opacity 0.4s ease-in;
	-o-transition: -o-transform 0.4s ease-in, opacity 0.4s ease-in;
	-ms-transition: -m-transform 0.4s ease-in, opacity 0.4s ease-in;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	max-width: 280px;
	margin: 0 auto;
	opacity: 0;
}
jopopup > jolist > *.select:first-childjopopup > jomenu > *.select:first-child {
	border-top: none;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
jopopup > jolist > *:last-child.selectjopopup > jomenu > *:first-child.select {
	border-bottom: none;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
jopopup.show {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	opacity: 1;
}
jopopup > joscroller {
	width: 100%;
}
jonavbar {
	font-size: 120%;
	font-weight: bold;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	color: black;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: center;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;

	background-color: white;
	cursor: default;
	border-bottom: 1px solid #696969;
	opacity: 1.0;

}
jonavbar > joview {
	display: block;
	text-align: center;
	padding: 10px 0;
}
jonavbar > joflexrow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
jobackbutton {
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 6px 10px 4px 10px;
	margin: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
	color: white;
		font-size: 15px;
background-color: #0069D6;

}
jobackbutton.focus, jobackbutton.selected {

background-color: #0069D6;
color: white;
 opacity: 0.6;
	
	
}
jobackbutton.active {
	display: block;
}
jonavbar > joflexrow > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}
jonavbar > joflexrow > jobackbutton {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
	max-width: 4em;
}
jopopup > jotitle {
	color: #000000;
	border-top:  none;
	border-color: #D2D2D2;
	margin-bottom: 10px;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #F1F1F1;
}
jopopup > jobutton {
  	background-color: #0069D6;
}
joflexcol {
	height: 100%;
	width: 100%;
}
body > jocontainer,
body > jocard,
body > joview,
body > joflexcol,
body > joscroller,
body > jostack {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
html {
  	-webkit-text-size-adjust: none;
}
body {
  	-webkit-backface-visibility: hidden;
}

/*jobackbutton {
	color: rgb(204, 204, 204);
	background-color: #2D2D2D;
	border-color: #424242;
	font-size: 85%;
}*/

jostack > .next {
	z-index: -1;
	-webkit-transform: translatex(100%) ;/* translatez(0);*/
	height: 100%;
	overflow: hidden;
}
jostack > .prev {
	z-index: 1;
	-webkit-transform: translatex(-100%) ; /*translatez(0);*/
	height: 100%;
	overflow: hidden;
}